/* -RESET */

*			{ margin:0; padding:0; font-size:100%; border:0; user-select:none; -webkit-user-select:none; -moz-user-select:none; -o-user-select:none; -ms-user-select:none; }
html,
body		{ font-family:'LatoRegular',helvetica,arial,sans-serif; }

a,
a:link,
a:hover,
a:visited	{ text-decoration:none; }

img			{ color:transparent; vertical-align:middle; border:0; }

ol,
ul			{ list-style:none; }
li			{ display:list-item; }



/* -FONT */

@font-face	{ font-family:'DINmedium'; src:url('../font/DINmedium.eot'); src:url('../font/DINmedium.eot?#iefix') format('embedded-opentype'),url('../font/DINmedium.woff') format('woff'),url('../font/DINmedium.ttf') format('truetype'),url('../font/DINmedium.svg#DINmedium') format('svg'); }
@font-face	{ font-family:'DINbold'; src: url('../font/DINbold.eot'); src:url('../font/DINbold.eot?#iefix') format('embedded-opentype'),url('../font/DINbold.woff') format('woff'),url('../font/DINbold.ttf') format('truetype'),url('../font/DINbold.svg#DINbold') format('svg');}
@font-face	{ font-family:'LatoRegular'; src:url('../font/LatoRegular.eot'); src:url('../font/LatoRegular.eot?#iefix') format('embedded-opentype'),url('../font/LatoRegular.woff') format('woff'),url('../font/LatoRegular.ttf') format('truetype'),url('../font/LatoRegular.svg#LatoRegular') format('svg');}
@font-face	{ font-family:'LatoLight'; src:url('../font/LatoLight.eot'); src:url('../font/LatoLight.eot?#iefix') format('embedded-opentype'),url('../font/LatoLight.woff') format('woff'),url('../font/LatoLight.ttf') format('truetype'),url('../font/LatoLight.svg#LatoLight') format('svg'); }
@font-face	{ font-family:'LatoHairline'; src:url('../font/LatoHairline.eot'); src:url('../font/LatoHairline.eot?#iefix') format('embedded-opentype'),url('../font/LatoHairline.woff') format('woff'),url('../font/LatoHairline.ttf')  format('truetype'),url('../font/LatoHairline.svg#LatoHairline') format('svg'); }



/* -HEADER */

header			{ width:100%; height:27px; padding:10px 0; position:fixed; z-index:1000; text-transform:uppercase; background-color:#000; }
	
header #logo	{ width:134px; height:25px; margin-left:105px; float:left; cursor:pointer; }

	/* --NAVIGATION */
	
	header nav					{ margin-right:90px; font-size:11px; float:right; }
	header nav:after			{ content:""; height:0; display:block; visibility:hidden; clear:both; }
	
	header.noscroll				{ margin-left:0!important; }
	header.noscroll nav			{ margin-right:105px!important; }
	
	header nav ul				{ margin:6px 0px; text-align:right; }
	header nav li				{ font-family:'DINmedium',helvetica,arial,sans-serif; color:#B2B2B2; display:inline-block; *display:inline; }
	header nav li + li			{ margin-left:46px; }
	header nav li.linkActive	{ font-family:'DINbold',helvetica,arial,sans-serif; color:#FFF; }
	header nav li:hover			{ color:#FFF; cursor:pointer; }
	


/* -PAGES PROPERTIES */

#ascensorBuilding					{ overflow-x:hidden!important; }

article h2,
article .page-txt					{ width:430px; margin-bottom:20px; text-align:right; }
article .page-wrapper				{ margin:47px 105px 0 0; float:right; }
article .page-wrapper:after			{ content:""; height:0; display:block; visibility:hidden; clear:both; }

article h2							{ font:142px/106px 'LatoHairline',helvetica,arial,sans-serif; text-transform:uppercase; cursor:default; }
	
article .page-txt					{ font:14px/18px 'LatoLight',helvetica,arial,sans-serif; cursor:default; }

article#ascensorFloor9 a,
article#ascensorFloor9 a:link,
article#ascensorFloor9 a:visited,
article#ascensorFloor9 a:hover		{ color:#9B2738; }	
	
	/* --ARTICLE COLOURS */

	article#ascensorFloor0	{ color:#394438; background-color:#BBEB7A; }
	article#ascensorFloor1	{ color:#465846; background-color:#B2D271; }
	article#ascensorFloor2	{ color:#58694F; background-color:#ACC66A; }
	article#ascensorFloor3	{ color:#697A57; background-color:#A9BE65; }
	article#ascensorFloor4	{ color:#707F5E; background-color:#9DAA5A; }
	article#ascensorFloor5	{ padding-bottom:47px; color:#5BB0E4; background-color:#FFED6C; }				
	article#ascensorFloor6	{ margin-top:47px; color:#5BB0E4; background-color:#F7E88D; }
	article#ascensorFloor32	{ color:#4A9CBC; background-color:#89D0F3; }
	article#ascensorFloor33	{ color:#9B2738; background-color:#EE5E53; }
	article#ascensorFloor34	{ color:#9B2738; background-color:#EA7F7F; }

	/* --BUTTONS */
	
	article .btn-scroll,
	article .btn-jump,
	article .proj-options .btn-scroll,
	article .proj-options .btn-jump				{ width:30px; height:30px; float:right; cursor:pointer; border-style:solid; border-width:0; background-image:url(../images/sprite.png); border-radius:15px; -webkit-border-radius:15px; -moz-border-radius:15px; -o-border-radius:15px; -ms-border-radius:15px; }

	article .btn-scroll:after,
	article .btn-jump:after,
	article .proj-.btn-scroll:after,
	article .proj-.btn-jump:after				{ content:""; height:0; display:block; visibility:hidden; clear:both; }

	article .btn-scroll:hover,
	article .btn-jump:hover						{ width:26px; height:26px; }

	article .btn-scroll.ascensorLink1			{ border-color:rgba(39,44,39,0.8); background-color:rgba(39,44,39,0.8); background-position:4px -8px; transition:background-position 150ms ease; -webkit-transition:background-position 150ms ease; -mos-transition:background-position 150ms ease; -o-transition:background-position 150ms ease; -ms-transition:background-position 150ms ease; }
	article .btn-scroll.ascensorLink2			{ border-color:rgba(70,88,70,0.8); background-color:rgba(70,88,70,0.8); background-position:-30px -8px; transition:background-position 150ms ease; -webkit-transition:background-position 150ms ease; -mos-transition:background-position 150ms ease; -o-transition:background-position 150ms ease; -ms-transition:background-position 150ms ease; }
	article .btn-scroll.ascensorLink3			{ border-color:rgba(89,106,80,0.8); background-color:rgba(89,106,80,0.8); background-position:-65px -7px; transition:background-position 150ms ease; -webkit-transition:background-position 150ms ease; -mos-transition:background-position 150ms ease; -o-transition:background-position 150ms ease; -ms-transition:background-position 150ms ease; }
	article .btn-scroll.ascensorLink4			{ border-color:rgba(105,123,88,0.8); background-color:rgba(105,123,88,0.8); background-position:-100px -8px; transition:background-position 150ms ease; -webkit-transition:background-position 150ms ease; -mos-transition:background-position 150ms ease; -o-transition:background-position 150ms ease; -ms-transition:background-position 150ms ease; }
	article .btn-scroll.ascensorLink6			{ border-color:rgba(91,175,226,0.8); background-color:rgba(91,175,226,0.8); background-position:-170px -8px; transition:background-position 150ms ease; -webkit-transition:background-position 150ms ease; -mos-transition:background-position 150ms ease; -o-transition:background-position 150ms ease; -ms-transition:background-position 150ms ease; }
	article .btn-scroll.ascensorLink7			{ margin:20px 105px 0 0; float:right; border-color:rgba(91,175,226,0.8); background-color:rgba(91,175,226,0.8); background-position:-205px -8px; transition:background-position 150ms ease; -webkit-transition:background-position 150ms ease; -mos-transition:background-position 150ms ease; -o-transition:background-position 150ms ease; -ms-transition:background-position 150ms ease; }
	article .btn-scroll.ascensorLink34			{ border-color:rgba(155,39,56,0.8); background-color:rgba(155,39,56,0.8); background-position:-135px -8px; transition:background-position 150ms ease; -webkit-transition:background-position 150ms ease; -mos-transition:background-position 150ms ease; -o-transition:background-position 150ms ease; -ms-transition:background-position 150ms ease; }
	
	article .proj-options .btn-scroll			{ opacity:0.6; background-color:#FFF; background-position:-239px 13px; }
	article .proj-options .btn-jump				{ opacity:0.6; background-color:#FFF; background-position:-239px 13px; transform:rotate(-90deg); -webkit-transform:rotate(-90deg); -moz-transform:rotate(-90deg); -o-transform:rotate(-90deg); -ms-transform:rotate(-90deg); }
	
	article .btn-jump.ascensorLink5				{ border-color:rgba(112,127,94,0.8); background-color:rgba(112,127,94,0.8); background-position:-23px -58px; transition:background-position 150ms ease; -webkit-transition:background-position 150ms ease; -mos-transition:background-position 150ms ease; -o-transition:background-position 150ms ease; -ms-transition:background-position 150ms ease; }
	article .btn-jump.ascensorLink33			{ border-color:rgba(73,154,187,0.8); background-color:rgba(73,154,187,0.8); background-position:-92px -58px; transition:background-position 150ms ease; -webkit-transition:background-position 150ms ease; -mos-transition:background-position 150ms ease; -o-transition:background-position 150ms ease; -ms-transition:background-position 150ms ease; }
	
	article .btn-scroll.ascensorLink1:hover		{ border-width:2px; background-color:transparent; background-position:4px 10px; }
	article .btn-scroll.ascensorLink2:hover		{ border-width:2px; background-color:transparent; background-position:-30px 11px; }
	article .btn-scroll.ascensorLink3:hover		{ border-width:2px; background-color:transparent; background-position:-65px 11px; }
	article .btn-scroll.ascensorLink4:hover		{ border-width:2px; background-color:transparent; background-position:-102px 10px; }
	article .btn-scroll.ascensorLink6:hover		{ border-width:2px; background-color:transparent; background-position:-170px 11px; }
	article .btn-scroll.ascensorLink7:hover		{ border-width:2px; background-color:transparent; background-position:-205px 11px; }
	article .btn-scroll.ascensorLink34:hover	{ border-width:2px; background-color:transparent; background-position:-135px 11px; }

	article .btn-jump.ascensorLink5:hover		{ border-width:2px; background-color:transparent; background-position:11px -58px; }
	article .btn-jump.ascensorLink33:hover		{ border-width:2px; background-color:transparent; background-position:-59px -58px; }
	
	#social_links								{ margin-top:200px; }
	#social_links a								{ float:right; display:block; }
	#social_links a	+ a							{ margin-right:20px; }
	#social_links #tweet						{ width:20px; height:16px; background:url(../images/sprite.png) -70px -130px no-repeat; }
	#social_links #fb							{ width:7px; height:16px; background:url(../images/sprite.png) -105px -130px no-repeat; }
	#social_links #in							{ width:15px; height:15px; background:url(../images/sprite.png) -140px -130px no-repeat; }
	#social_links #gp							{ width:17px; height:15px; background:url(../images/sprite.png) -175px -130px no-repeat; }


/* -GALLERIA */

.works_Floor ul										{ display:block; overflow:hidden; }
.works_Floor li										{ width:16.54%; float:left; overflow:hidden; position:relative; }
.works_Floor li:after								{ content:""; height:0; display:block; visibility:hidden; clear:both; }
.works_Floor li:not([class="gallery-btn"]):hover	{ cursor:pointer; }
.works_Floor li img									{ width:100%; max-width:100%; position:relative; top:0; right:0; transition:right 300ms ease; -webkit-transition:right 300ms ease; -moz-transition:right 300ms ease; -o-transition:right 300ms ease; -ms-transition:right 300ms ease; }
.works_Floor li:hover img							{ right:100%; }
.works_Floor li .gallery-txt						{ width:100%; height:100%; position:absolute; bottom:0; left:100%; }
.works_Floor li .gallery-txt div					{ margin:31% 7% 0 0; font:150%/100% 'DINbold',helvetica,arial,sans-serif; color:#5cafe2; text-align:right; float:right; transition:left 300ms ease; -webkit-transition:left 300ms ease; -moz-transition:left 300ms ease; -o-transition:left 300ms ease; -ms-transition:left 300ms ease; }
.works_Floor li:hover .gallery-txt					{ left:0; }

.hidden_item										{ display:none; }

.projects_Floor										{ overflow:hidden!important; background-color:#F7E88D; }

.proj-wrapper										{ overflow:hidden; }	
.cover												{ width:100%; height:100%; display:block; position:absolute; top:0; left:0; opacity:0.5; background-color:#000; }
.proj-wrapper img									{ width:1920px; margin:0 auto; display:block;}

.proj-options										{ position:absolute; bottom:110px; right:95px; z-index:1; }

.proj-info											{ width:200px; font:18px 'LatoHairline',helvetica,arial,sans-serif; color:#FFF; text-align:right; }
.proj-info p										{ margin-bottom:25px; }
.proj-header										{ font-family:'LatoMedium',helvetica,arial,sans-serif; }
.proj-content										{ padding-bottom:25px; border-bottom:1px solid #FFF; }

.proj-btns											{ width:28px; margin-top:40px; float:right; }
.proj-btns .btn-scroll:hover,
.proj-btns .btn-jump:hover							{ width:30px; height:30px; }
.proj-back-btn										{ width:28px; height:20px; margin-top:20px; float:right; background:url(../images/sprite.png) left -120px no-repeat; }
.proj-back-btn:hover								{ cursor:pointer; }
.proj-open											{ width:16px; height:29px; opacity:1; position:absolute; bottom:60px; right:101px; z-index:2; background:url(../images/sprite.png) -35px -120px no-repeat; }


/* -FORM */

form							{ width:283px; }

form textarea,
form input:not([type=submit])	{ width:283px; padding-bottom:10px; font:14px 'LatoLight',helvetica,arial,sans-serif; color:#9B2738; outline-width:0; border-bottom:1px solid #A7272D; background:transparent; }

form input[type=submit]			{ margin-top:30px; font-family:'LatoRegular',helvetica,arial,sans-serif; color:#9B2738; cursor:pointer; float:right; background:transparent; }

form input + input				{ margin-top:60px; }

form textarea					{ width:283px; margin-top: 50px; height:240px; line-height:40px; overflow:hidden; resize:none; border:0; background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='1' height='40px'><line x1='0' y1='40px' x2='1' y2='40px' stroke='#A7272D' stroke-width='2px'/></svg>"); }

::-webkit-input-placeholder 	{ color:#9B2738; }
:-moz-placeholder 				{ color:#9B2738; }
::-moz-placeholder 				{ color:#9B2738; }
:-ms-input-placeholder 			{ color:#9B2738; }


/* 1680px */
@media screen and (max-width:1680px) {
	#ascensorFloor6 ul li	{ width:20%; }
}

/* 1440px */
@media screen and (max-width:1440px) {
	#ascensorFloor6 li .gallery-txt	div	{ font-size:130%; }
}

/* 1280px */
@media screen and (max-width:1280px) {
	#ascensorFloor6 ul li	{ width:24.7%; }
}

/* 1080px */
@media screen and (max-width:1080px) {
	#ascensorFloor6 li .gallery-txt	div	{ font-size:120%; }
}

/* 900px */
@media screen and (max-width:900px) {
	body.mobile header #logo			{ margin-left:24px; }
	body.mobile header nav				{ width:36px; height:36px; margin:-5px 24px 0 0; background:url(../images/sprite.png) center center no-repeat transparent; }
	body.mobile header nav ul			{ width:116px; height:100%; margin:0; display:none; position:fixed; top:46px; right:0; background-color:#000; }
	body.mobile header nav li,
	body.mobile header nav li + li		{ margin:24px 24px 0 0; }
	
	#ascensorFloor6 ul li				{ width:32.77%; }
	#ascensorFloor6 li .gallery-txt div	{ font-size:130%; }
	
	article h2,
	article .page-txt					{ width:180px; }
	
	article h2							{ font-size:62px; line-height:46px; }
	article .page-wrapper				{ margin-right:50px; }
	article .page-txt					{ font-size:10px; line-height:14px; }
	
	.proj-options						{ bottom:110px; right:24px; }
	.proj-info							{ font-size:18px; }
	.proj-info p						{ margin-bottom:25px; }
	.proj-content						{ padding-bottom:25px; }

	.proj-btns							{ margin-top:40px; }
	.proj-back-btn						{ margin-top:20px; }
	.proj-open							{ right:30px; }
}

/* 800px */
@media screen and (max-width:800px) {
	#ascensorFloor6 li .gallery-txt	div	{ font-size:120%; }
}

/* 700px */
@media screen and (max-width:700px) {
	#ascensorFloor6 li .gallery-txt	div	{ font-size:100%; }
}

/* 640px */
@media screen and (max-width:640px) {
	#ascensorFloor6 ul li				{ width:10%; }
	#ascensorFloor6 li .gallery-txt div	{ font-size:150%; }
}

/* 600px */
@media screen and (max-width:600px) {
	#ascensorFloor6 ul li				{ width:49.89%; }
	#ascensorFloor6 li .gallery-txt div	{ font-size:130%; }
}

/* 480px */
@media screen and (max-width:480px) {
	#ascensorFloor6 ul li					{ width:48.5%; }
	#ascensorFloor6 li .gallery-txt div	{ font-size:110%; }
	
	.proj-options			{ bottom:90px; }

	.proj-info				{ width:145px; font-size:12px; }
	.proj-info p			{ margin-bottom:15px; }
	.proj-content			{ padding-bottom:15px; }

	.proj-btns				{ margin-top:20px; }
	.proj-back-btn			{ margin-top:20px; }
	.proj-open				{ bottom:40px; }
}

/* 320px */
@media screen and (max-width:320px) {
	#ascensorFloor6 ul li				{ width:83%; }
	#ascensorFloor6 li .gallery-txt div	{ font-size:150%; }
}
